{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="fa" class="no-js">
	<head>
		<title>List Configs</title>
        {% include "base_head.html" %}
        <link rel="stylesheet" type="text/css" href="{% static 'component.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'bot_finance/surathesab_page.css' %}"/>
    </head>
	<body dir="ltr">
        {% include "navbar_sellers.html" %}
        {% include 'messages.html' %}
        <div id="main">
		    <div class="xcontainer">
		    		<table class="overflow-y">
		    			<thead>
		    				<tr>
                                <th>Username</th>
                                <th></th>

                            </tr>
		    			</thead>
		    			<tbody>
                        {% for seller in user_obj %}
                            {% if not seller.level_access == 10 %}
		    				<tr>
                                <td><a href="{% url "sellers_finance:seller_payment_page" seller.id %}">{{ seller.username }}</a></td>
                                <td>{{ price|price }} T</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
		    			</tbody>
		    		</table>
            </div>


        </div>


		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
		<script src={% static "js/list.js" %}></script>
	</body>

{% include "loading.html" %}

</html>